---
---

<div class="background">
    <canvas id="backgroundCanvas">
        does not support canvas
    </canvas>
</div>

<style>
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

</style>

<script src="./background.ts"/>
